extends layout
block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/Sculptures") Take me to Sculptures
    br
    a(href="/logout") Logout

    


